.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: hsl(218, 22%, 67%);
  background-color: aliceblue;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
  border-style: none;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  max-width: 600px;
  background-color: white;
}
.subscription {
  background-color: #2ab3b1;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: -40px;
  margin-left: -28px;
  margin-top: 20px;
}
.whyus {
  background-color: #4abdbd;
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  margin-bottom: -40px;
  margin-right: -28px;
  margin-top: 20px;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 24px;
  margin-bottom: 30px;
}

h2 {
  color: hsl(71, 73%, 54%);
  font-size: 17px;
}
h3 {
  font-size: 17px;
  margin-bottom: 20px;
}

.price {
  font-weight: 700;
  font-size: 40px;
}
.month {
  margin-left: 15px;
  color: #98ced0;
}

li {
  color: hsl(204, 43%, 93%);
  list-style: none;
  margin-left: -40px;
}

footer {
  margin-top: 15px;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 25px;
  }
}
